@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Six+Caps&display=swap");

/* Golobal style */
:root {
  --brand-color: #ff0000;
  --white: #ffffff;
  --black: #000000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
}
.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 29px;
  padding: 10px 50px;
  border: none;
  box-shadow: none;
  border-radius: 0px 60px;
  transition: 1s;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-brand {
  color: var(--white);
  background-color: var(--brand-color);
}
.btn-brand:hover,
.right section .btn:hover {
  color: var(--brand-color);
  border: 2px solid var(--brand-color);
  background-color: var(--white);
}
.btn-white {
  color: var(--brand-color);
  background-color: var(--white);
}
.btn-white:hover {
  color: var(--white);
  border: 4px solid var(--white);
  background-color: var(--brand-color);
}

.container {
  overflow: hidden;
}
/* Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-content {
  text-align: center;
}

.loader-content img {
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Hero Section */
.hero {
  height: 90vh;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.hero .right {
  width: 50%;
  padding-right: 10px;
}
.hero .left {
  width: 50%;
  background: var(--brand-color);
  position: relative;
}
.left .logo {
  margin-top: 36px;
  margin-left: 30px;
  width: 36px;
}
.left section {
  width: 85%;
  margin: auto;
  margin-top: 100px;
  position: relative;
  z-index: 3;
}
.left h1 {
  color: var(--white);
  font-size: calc(1.5rem + 1vw);
  font-style: normal;
  font-weight: 700;
  text-align: justify;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 40px;
  z-index: 4;
  position: relative;
}
.left .circle {
  position: absolute;
  top: -5rem;
  right: calc(50% + 120px);
  width: 280px;
  height: 280px;
  background-color: darkred;
  opacity: 0.2;
  clip-path: circle(50% at 50% 50%);
  z-index: 2;
}
.right section {
  width: 50%;
  margin: auto;
  margin-top: 120px;
  margin-right: 50px;
  /* padding: 20px; */
  float: right;
}
.right section img {
  width: 100%;
}
.right section p {
  margin-top: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: calc(0.5rem + 1vw);
  line-height: 1.5;
  text-align: justify;
  color: var(--black);
}
.right section .numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: calc(1rem + 1vw);
  line-height: 1.5;
  text-align: justify;
  text-transform: uppercase;
}
.right section .btn {
  position: relative;
  cursor: pointer;
  padding: 5% 50%;
  z-index: 3;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 13px solid var(--white);
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
}
.middle-image {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.hero-img {
  position: absolute;
  width: 30%;
  top: 50%;
  transform: translate(120%, -48%);
}

.vectore1 {
  animation: linear 20s animationFramesOne infinite;
  position: absolute;
  z-index: 3;
  width: 10%;
  right: 30%;
  top: 4%;
}
.vectore2 {
  animation: linear 20s animationFramesTwo infinite;

  position: absolute;
  z-index: 3;
  width: 5%;
  bottom: 15%;
  left: 36%;
}
/* Logos Section (Sponsores) */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos {
  display: flex;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;
  background: var(--white);
}
.logos:hover .logos-slider {
  animation-play-state: paused;
}
.logos-slider {
  animation: slide 15s linear infinite;
  width: calc(250px * 5);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.logos-slider img {
  height: 50px;
  margin: 0 40px;
}
/* Services Section */
.services {
  position: relative;
  padding: 40px 120px;
}
.services h1 {
  font-size: calc(1.5rem + 1vw);
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 100px;
}

.services .shape {
  animation: linear 20s animationFramesThree infinite;
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: 30px;
  width: auto;
  max-width: 80px;
}
.services-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: calc(25% - 40px);
  text-align: center;
  margin-bottom: 60px;
}

.content {
  width: 100%;
  height: auto;
  padding: 80px 20px;
  background: #f5f5f5;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
  position: relative;
  z-index: 3;
}

.content p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: calc(0.5rem + 1vw);
  line-height: 1.5;
  text-align: center;
  color: var(--black);
}

.content .icon {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: var(--brand-color);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.content .icon img {
  width: 90%;
}

.card span {
  position: absolute;
  top: 20%;
  left: -15%;
  font-weight: 700;
  font-size: 15rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: var(--brand-color);
  z-index: 2;
}
/* About Section */
.about {
  padding-top: 80px;
  overflow: hidden;
}
.about h1 {
  font-size: calc(1.5rem + 1vw);
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 50px;
}

.about-wrapper {
  position: relative;
  display: flex;
  background-color: var(--black);
  width: 100%;
  padding: 0 50px 50px 50px;
}
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 32rem;
  color: var(--white);
}
.Roman {
  position: relative;
}
.Roman img {
  position: absolute;
  top: -174px;
  left: -472px;
}
.about-content-title {
  font-family: "Six Caps";
  font-weight: 400;
  font-size: 29rem;
  width: 90rem;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-bottom: -60px;
}
.about-content-title span {
  color: var(--brand-color);
}
.about-content-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 2;
  text-align: justify;
  color: var(--white);
  width: 90rem;
  margin-bottom: 20px;
}
.about-img {
  width: 600px;
}

.about-wrapper .shape {
  animation: linear 20s animationFramesFour infinite;

  position: absolute;
  top: -40px;
  right: 30px;
  width: auto;
  max-width: 80px;
}

.about-content .about-content-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 50px auto;
}
.about-content .about-content-social span {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--white);
}
/* Portfolio Section (Videos) */
.portfolio {
  position: relative;
  padding: 80px;
  background-color: var(--brand-color);
}
.portfolio h1 {
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 100px;
}
.portfolio .shape {
  animation: linear 20s animationFramesFive infinite;
  position: absolute;
  top: 0px;
  left: -100px;
  width: 350px;
  z-index: 1;
}
.portfolio .btn,
.features-content .btn {
  margin: auto;
}
.videos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.video-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  z-index: 3;
}
.video-card img {
  width: 300px;
  margin-bottom: 10px;
}
.video-title {
  font-weight: 700;
  font-size: 27px;
  line-height: 40px;
  text-align: center;
  color: var(--white);
}
.video-description {
  font-weight: 200;
  font-size: 21px;
  line-height: 40px;
  text-align: center;
  color: var(--white);
}
/* Features Section */
.features {
  padding: 80px;
  color: var(--black);
}

.features h1 {
  font-size: calc(1.5rem + 1vw);
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 80px;
}
.features-container {
  display: flex;
  justify-content: space-between;
}

.features-content {
  width: 50%;
  margin-bottom: 40px;
}

.features-image {
  position: relative;
  width: 40%;
  padding: 20px;
}

.features-image img {
  width: 100%;
}
.features-image p {
  position: absolute;
  display: flex;
  left: 60%;
  transform: translateX(100%);
  bottom: 12%;
  font-family: "Six Caps";
  font-weight: 400;
  font-size: calc(6rem - 1vw);
  line-height: 1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--black);
  flex-direction: column;
}

.features-image p span {
  letter-spacing: -0em;
  color: var(--brand-color);
}
.features-content .features-content-title {
  font-family: "Six Caps";
  font-weight: 400;
  font-size: calc(4rem + 1vw);
  line-height: 1;
  text-transform: uppercase;
  color: var(--brand-color);
  margin-bottom: 20px;
}

.features-content .features-content-description {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 38px;
  line-height: 1.5;
  text-align: justify;
  color: var(--black);
  margin-bottom: 50px;
}

.single-feature {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.single-feature img {
  margin-right: 10px;
  border: none;
  width: 120px;
  padding: 12px;
  border-radius: 50%;
  background: var(--brand-color);
}
.single-feature p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: calc(1rem + 1vw);
  line-height: 1.3;
  text-align: justify;
}
/* Footer Section */
.footer {
  position: relative;
  padding: 80px;
  background-image: url(./images/background.png);
  background-size: cover;
  height: 500px;
  color: var(--white);
  font-weight: 600;
  font-size: calc(0.1rem + 1vw);
  line-height: 2.5;
  z-index: 0;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.856);
  z-index: -1;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-content p {
  width: 50%;
  text-align: justify;
  margin-bottom: 15px;
}
.footer-content img {
  height: calc(4rem + 1vw);
  margin-left: 15%;
}
.footer .copyright {
  position: relative;
  top: 40%;
  width: fit-content;
  margin: auto;
  text-align: center;
}

/* Responsive Design */

@media (max-width: 2104px) {
  .about-img {
    width: 400px;
  }
  .about-content-title {
    font-size: 15rem;
    width: 60rem;
    margin-bottom: -40px;
  }
  .Roman img {
    top: -104px;
    left: -322px;
  }
  .about-content-description {
    font-size: 20px;
    width: 60rem;
  }
}
@media (max-width: 1440px) {
  .features-content .features-content-title {
    font-size: calc(2rem + 1vw);
  }
  .features-content .features-content-description {
    font-size: 18px;
  }
  .single-feature {
    margin-bottom: 20px;
  }
  .single-feature img {
    width: 60px;
  }
  .single-feature p {
    font-size: calc(2rem - 1vw);
  }
  .Roman img {
    top: -8rem;
    left: -402px;
  }
  .about-content {
    align-items: flex-start;
    margin-left: 25em;
  }
  .about-img {
    width: 500px;
  }
  .about-content .about-content-description {
    width: 47rem;
  }

  .about-content .about-content-title {
    font-size: calc(14rem - 1vw);
    margin-bottom: -20px;
  }
}
@media (max-width: 1024px) {
  .services-cards .card {
    width: 40%;
    margin-bottom: 50px;
  }
  .about-content {
    margin-left: 0;
  }
  .about-wrapper {
    padding: 50px;
    height: auto;
  }
  .about-img {
    display: none;
  }
  .about-content .about-content-title {
    font-size: 4rem;
    width: 21rem;
    margin-bottom: 0;
  }
  .about-content .about-content-description {
    font-size: 16px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .btn {
    font-size: small;
  }
  .left section,
  .right section {
    padding: 10px;
  }

  .left h1 {
    font-size: 1.2rem;
  }

  .right section .numbers {
    font-size: 1rem;
  }

  .hero-img {
    display: none;
  }
  .services {
    padding: 40px 80px;
  }
  .services h1 {
    font-size: 1.2rem;
  }

  .services-cards {
    justify-content: center;
  }

  .services-cards .card {
    width: 100%;
    margin-bottom: 30px;
  }

  .content p {
    font-size: 16px;
  }
  .card span {
    left: -10%;
    font-size: 10rem;
  }

  .about-wrapper {
    padding: 50px;
    height: auto;
  }
  .about-content .about-content-title {
    font-size: 4rem;
    width: 21rem;
    margin-bottom: 0;
  }
  .about-content .about-content-description {
    font-size: 16px;
    width: 100%;
  }
  .features {
    padding: 80px 40px;
  }
  .features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features-content {
    font-size: 1.5rem;
  }
  .features-content {
    width: 100%;
  }
  .single-feature p {
    font-size: calc(1.5rem - 1vw);
  }
  .features-image {
    width: 100%;
  }
}
@media (max-width: 596px) {
  .features-image {
    display: none;
  }
}
@media (max-width: 425px) {
  .hero {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .hero .right,
  .hero .left {
    width: 100%;
  }
  .right section {
    width: 90%;
    margin: 20px;
    padding: unset;
    float: unset;
  }
  .card span {
    left: -18%;
  }
  .about-wrapper {
    padding: 50px;
    height: auto;
  }
  .about-content .about-content-title {
    font-size: 4rem;
    width: 100%;
    margin-bottom: 0;
  }
  .about-content .about-content-description {
    font-size: 16px;
    width: 100%;
  }
  .portfolio {
    padding: 80px 20px;
  }
  .portfolio h1 {
    font-size: 25px;
  }
  .portfolio .shape {
    top: 5%;
    width: 200px;
  }
  .videos-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
  }
  .footer {
    padding: 20px;
    background-image: url(./images/background.png);
    background-size: cover;
    height: 500px;
    color: var(--white);
    font-weight: 600;
    font-size: calc(0.5rem + 1vw);
    line-height: 2.5;
    z-index: 0;
  }

  .footer-content {
    flex-direction: column;
  }
  .footer-content img {
    height: 80%;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .footer-content p {
    width: 100%;
  }

  .footer .copyright {
    top: 20%;
  }
}

@keyframes animationFramesOne {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(36deg);
  }
  40% {
    transform: rotate(72deg);
  }
  60% {
    transform: rotate(108deg);
  }
  80% {
    transform: rotate(144deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes animationFramesTwo {
  0% {
    transform: translateY(0px, 0px) scale(1);
  }
  20% {
    transform: translateY(73px) scale(0.9);
  }
  40% {
    transform: translateY(141px) scale(1);
  }
  60% {
    transform: translateY(83px) scale(1.2);
  }
  80% {
    transform: translateY(-40p) scale(1.1);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
@keyframes animationFramesThree {
  0% {
    transform: translate(165px, -179px);
  }
  100% {
    transform: translate(746px, 617px);
  }
}
@keyframes animationFramesFour {
  0% {
    transform: translate(-300px, 151px) rotate(0deg);
  }
  100% {
    transform: translate(251px, -200px) rotate(180deg);
  }
}
@keyframes animationFramesFive {
  0% {
    transform: translate(61px, -99px) rotate(0deg);
  }
  21% {
    transform: translate(4px, -190px) rotate(38deg);
  }
  41% {
    transform: translate(-139px, -200px) rotate(74deg);
  }
  60% {
    transform: translate(-263px, -164px) rotate(108deg);
  }
  80% {
    transform: translate(-195px, -49px) rotate(144deg);
  }
  100% {
    transform: translate(-1px, 0px) rotate(180deg);
  }
}
